.all2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}

.kontak {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.kontak-row {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.kontak-row p:nth-child(1) {
    border-right:1px solid black;
    text-align: right;
    padding-right: 20px;
    width: 40%;
    margin: 0;
}

.sosmed-row {
    display: flex;
    width: 38%;
}

.sosmed {
    width: 25%;
}

.sosmed a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pesan {
    margin: 55px 150px;
    text-align: left;
}

.pesan h1 {
    font-size: 20px;
    text-align: left;
}

.textarea {
    display: flex;
    justify-content: left;
}

.bton {
    display: flex;
    justify-content: flex-end;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  
  