* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.log{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.log img{
    margin-left: 40px;
    width: 200px;
    height: 40px;
}

#kotak{
    border: 1px solid black;
    border-radius: 17px;
    background-color: grey;
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.judul {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
    padding: 5px 40px;
}
.judul a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: black;
	font-size: .99em;
}

.main-nav a:hover {
	color: #2B3467;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	
	}



@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
